.container {
    display: grid;
    margin: 2em auto 2em auto;
    width: 1200px;
    grid-template-columns: repeat(3,1fr);
}



.header-nav-1 {
   grid-column: 1/span 3;
    background-color: dimgrey;
    text-decoration: none;
}

#logo{
    float:left;
}

ul {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
}

li a {
    display: block;
    padding: 8px;
    background-color: none;
    text-decoration: none;
    float: right;
    color: white;
}

.main-2 {
    grid-column: 1/span 2;
    height: 400px;
    margin:0;
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    width: 100%;
}

.topPic {
    grid-column: 3/span 1;
    width: 100%;
}

#ttopPic {

    width:100%;
    height:400px;

}#a {
    grid-column: 1/span 1;
    max-width: 500px
}

.topPic {
    
    grid-column: 3/span 1;
}

.topHeader {
    display:grid;
    grid-column: span 1;
}

.locationsTitle-3 {
    grid-column: 1/span 3;
    margin:0;
    background-color: dimgray;
    color: white;
    height: 100px;
}


.locationOne-4 {
    grid-column: 1/span 2;
    height: 200px;
    background-color: ghostwhite;
}


#modernPic {
    grid-column: 3/span 1;
    height: 200px;
    width: 100%;
}

.locationTwo-5 {
    grid-column: 2/span 2;
    height: 200px;
    background-color: dimgrey;
}

#modernPic2 {
    grid-column: 1/span 1;
    height: 200px;
    width: 100%;
}
.loactionThree-6 {
    grid-column: 1/span 2;
    height: 200px;
    background-color: ghostwhite;;
}
#modernPic3 {
    grid-column: 3/span 1;
    height: 200px;
    width: 100%;
}

.ammenitiesTitle-7 {
    grid-column: 1/span 3;
    background-color: dimgray;
    color: white;
    height: 200px;
}

.grid-1 {
    grid-column: 1/span 1;
    grid-row: 8/span 1;
    height: 200px;
    margin: 0;
    background-image: url('images/3b-348x348.jpg');
}

.grid-2 {
    grid-column: 2/span 1;
    grid-row: 8/span 1;
    height: 200px;
    word-wrap: break-word;
    background-color: white;
}

.grid-3 {
    grid-column: 3/span 1;
    grid-row: 8/span 1;
    height: 200px;
    background-image: url('images/42-348x348.jpg');
}



#gridTitle1{
    text-align:center;
    color: white;
} 

.grid-4 {
    grid-column: 1/span 1;
    grid-row: 9/span 1;
    background-color: white;
}

.grid-5 {
    grid-column: 2/span 1;
    grid-row: 9/span 1;
    height: 200px;
    background-image: url('images/314-348x348.jpg');
}

.grid-6 {
    grid-column: 3/span 1;
    grid-row: 9/span 1;
    height: 200px;
    background-color: white;
    
}



.grid-7 {
    grid-column: 1/span 1;
    grid-row: 10/span 1;
    background-image: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg');
}

.grid-8 {
    grid-column: 2/span 1;
    grid-row: 10/span 1;
    height: 200px;
    background-color: white;
}

.grid-9 {
    grid-column: 3/span 1;
    grid-row: 10/span 1;
    height: 200px;
    background-image: url('images/Villa-Vanna-231-348x348.jpg');
}

.reviewsTile-11 {

    grid-column: 1/span 3;
    height:100px;
    background-color:dimgray;
    color: white;
}

.carousel-wrapper {
    grid-column: 1/span 3;
    background-color: lightblue;
    height: 200px;
}
#title{
    text-align:center;
    font-size:xx-large;
    font-weight: 600;
} 
.contactTitle-13 {
    grid-column: 1/span 3;
    background-color: dimgray;
    color: white;
    height: 100px;
}

#locTitle{
    text-align:center;
    font-weight:300;
    font-size:x-large;
}

#subText {
    text-align: center;
    font-weight: 300;
    font-size: medium;
}

#ammenTitle {
    text-align: center;
    font-weight: 300;
    font-size: x-large;
}

#amnSubText {
    text-align: center;
    font-weight: 300;
    font-size: medium;
}

#firstBtn{
    display:block;
    background-color:red;
} 

#reviewTitle {
    text-align: center;
    font-weight: 300;
    font-size: x-large;
}

#reviewSubText {
    text-align: center;
    font-weight: 300;
    font-size: medium;
}
#contactTiele {
    text-align: center;
    font-weight: 300;
    font-size: x-large;
}
#subText {
    text-align: center;
    font-weight: 300;
    font-size: medium;
}

#footerTect {
    text-align: center;
    font-weight: 300;
    font-size: x-large;
   
} 


#phoneIcon {
    grid-column: 1;
    width: 10px;
    height: 20px;
}

.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('https://static.pexels.com/photos/6526/sea-beach-holiday-vacation-large.jpg');
    background-size: cover;
}

.item-2 {
    background: url('https://static.pexels.com/photos/6506/alcohol-bar-drinks-party-large.jpg');
    background-size: cover;
}

.item-3 {
    background: url('https://static.pexels.com/photos/6529/lake-kajak-kayak-large.jpg');
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

}





#formHeader {
    grid-column: 2;
}

#form {
    grid-column: 2/span 2;
    height: 100%;
}


.footer-15 {
    grid-column: 1/span 3;
    background-color: dimgrey;
    color: white;
    height: 200px;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

    input[type=submit]:hover {
        background-color: green;
    }

